{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "lib", "style": true }],
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime"
  ]
}
