@import '../../../styles/variable.scss';

.yg-header {
  &-qrcode {
    background: url('../../../assets/images/qrcode.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 260px;

    .qrcode {
      background: url('../../../assets/images/qrcode.jpg');
    }
  }

  &.ant-layout-header {
    align-items: center;
    background-color: $color-background-header;
    color: $color-text;
    display: flex;
    font-size: $font-size-medium-x;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    position: relative;
  }

  &-head {
    width: 270px;
    display: flex;
    align-items: center;

    &-logo {
      align-items: center;
      justify-content: center;
      display: flex;
      width: 231px;
      height: 60px;

      .yg-logo {
        cursor: pointer;
        display: block;
        height: 48px;
        width: 231px;
        margin-right: 0 !important;
        background-image: url('../../../assets/images/logo.png');
        background-repeat: no-repeat;
        background-size: 231px 48px;
      }
    }

    &-span {
      height: 16px;
      width: 1px;
      background-color: $white;
      margin-left: 25px;
    }
  }

  &-content {
    width: 500px;
    height: 100%;
    margin-left: 20px;
    align-items: center;
    position: relative;
    display: flex;

    &-left {
      min-width: 135px;
      display: flex;
      height: 100%;
      overflow: hidden;
      flex-wrap: wrap;
      align-items: center;

      .product-logo {
        min-width: 135px;
        height: 36px;
        display: flex;
        align-items: center;

        .logo-text {
          height: 30px;
          line-height: 30px;
          margin: 0;
          font-size: $font-size-large;
          font-weight: 800;
        }
      }
    }
  }

  &-tail {
    position: absolute;
    right: 5px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;

    &-user,
    &-link {
      color: $color-text;
      cursor: pointer;
      transition: color 0.3s;
      position: relative;
      font-size: $font-size-medium;

      .ant-tooltip-inner {
        width: 110px;
      }

      i {
        margin-left: 4px;
        transition: transform 0.3s;
        margin-right: 10px;
      }

      &:hover {
        color: $color-text-link;
      }
    }
  }

  &-user-dropdown {
    width: 110px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    position: relative;
    background: $white;
    border: 1px solid $white;

    &:before {
      content: '';
      top: -5px;
      left: 50px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $white;
      position: absolute;
    }
  }

  &-menu {
    width: 110px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-item {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      padding: 10px 0;

      &:hover {
        color: $color-text-link;
        cursor: pointer;
      }
    }
  }
}
